
@{
    ViewBag.Title = "Fight Display";
}
<link href="~/Content/flipclock.css" rel="stylesheet" />
<script src="~/Scripts/flipclock.min.js"></script>
<script src="~/Scripts/signalRFightManagement.js"></script>
<br />
<br />
<div id="competitors" class="row">
    <div class="col-md-5">
        <div class="competitor-button redteam">
            <h1 id="robot1Name" style="color:white"></h1>
        </div>
    </div>
    <div class="col-md-2">
        <h2 class="versus">versus</h2>
    </div>
    <div class="col-md-5">
        <div class="competitor-button blueteam">
            <h1 id="robot2Name" style="color:white"></h1>
        </div>
    </div>
</div>
<div class="row result">
    <div class="col-md-4" style="text-align:center">
        <h1 id="winningRobot"></h1>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2 id="winType"></h2>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h1 id="losingRobot"></h1>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12" >
        <div id="clock" style="margin-left:280px"></div>
    </div>
</div>
<style>
    #clock {
    transform-origin: 0 0;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(2);
    -o-transform-origin: 0 0;
    -o-transform: scale(2));
    -moz-transform-origin: 0 0;
    -moz-transform: scale(2);
}
    .competitor-button{
        border-radius: 20px;
        color:white;
        text-align:center;
        padding: 10px 0 10px 0;
        font-weight:bold;
    }
    .redteam{
        background-color:red;
    }
    .blueteam{
        background-color:blue;
    }
    .versus {
        text-align:center;
        padding-top:10px
    }
</style>
<script>
    var clock = $('#clock').FlipClock({clockFace: 'MinuteCounter'});
    clock.stop();
    clock.reset();
</script>